body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .messages-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;  /* Hide horizontal overflow */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Ensure child elements don't exceed the container's width */
.messages-container > div {
    max-width: 100%;  /* Limit width to 100% of parent */
    box-sizing: border-box;  /* Include padding and border in the element's total width */
    word-wrap: break-word;  /* Break long words to prevent overflow */
}


.live-transcript-container {
    margin-top: auto;  /* Pushes the container to the bottom */
    padding: 5px;
    border-top: 1px solid #ccc;  /* Top border to separate from other messages */
}

  .wave.active {
    opacity: 1;
}
  .wave {
    opacity: 0;
    width: 5px;
    height: 60px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 5px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
    transform: scale(0);
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }